.features {
  text-align: center;
  padding: 80px 0;
}

.features h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}

.features p {
  color: #777;
  max-width: 600px;
  margin: 0 auto 50px;
  font-size: 18px;
  margin-bottom: 100px;
  
}

.features-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px 35px; 
    max-width: 1200px; 
    margin: 0 auto;
  }


  .feature-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 30%; 
    text-align: center;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 300px; 
    margin-bottom: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease,background-color 0.3s ease;
  }




  .feature-card .icon {
    background: #007bff;
    color: white;
    font-size: 28px;
    padding: 18px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

.icon {
  font-size: 40px;
  color: #007bff;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 15px;
}

.feature-card h3 {
  margin-top: 30px;
  font-size: 30px;
  transition: color 0.3s ease;
}

.feature-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
  transition: color 0.3s ease;
  margin-bottom: 40px;
}

.learn-more {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

.feature-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
    background-color: #f8f9fa;
  }
  .feature-card:hover h3 {
    color: #007bff; 
  } 

  .feature-card:hover p {
    color: #333; 
  }
  @media (max-width: 768px) {
    .features {
      padding: 60px 15px;
    }
  
    .features h2 {
      font-size: 30px;
      text-align: center;
      padding-right: 150px;
    }
  
    .features p {
      font-size: 16px;
      margin-bottom: 60px;
      padding: 0 10px;
      padding-right: 150px;
    }
  
    .features-container {
      flex-direction: column;
      align-items: center;
      gap: 35px;
      max-width: 95%;
      margin: 0 auto;
      padding-right: 150px;
    }
  
    .feature-card {
      width: 100%;
      min-width: 320px;
      padding: 20px 15px;
    }
  
    .feature-card h3 {
      font-size: 23px;
    }
  
    .feature-card p {
      font-size: 15px;
      margin-bottom: 30px;
      padding-right: 20px;
  
    }
  
    .icon {
      font-size: 30px;
      padding: 5px;
    }
  }