.team-section {
  text-align: center;
  padding: 70px 0;
  background-color: #fff;
  font-weight: bold;
  padding-left: 180px; 
  font-size: 35px;
  }
  
  .container {
    max-width: 1300px;
    margin: auto;
    margin-bottom: 100px;

  }
  
  .team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-left: 0;
    margin-bottom: 100px;
    padding: 0 15px;
  }
  
  .team-member {
    width: 300px;
    text-align: center;
   
  }
  
  .team-image {
    width: 100%;
    height: auto;
   
  }
  
  .team-position {
    font-weight: bold;
    color: #007bff;
  }
  
  .team-description {
    font-size: 14px;
    color: #666;
  }
  
  @media (min-width: 768px) {
    .team-grid {
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      gap: 30px;
      margin-left: 0;
      padding: 0 15px;
    }
  }
  

  @media (max-width: 768px) {
    .team-section {
      padding: 60px 50px; 
      padding-right: 170px;
      font-size: 25px;
      
    }
    
    .team-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 0;
    }
    
    .team-member {
      width: 90%;
      max-width: 300px;
      margin: 0 auto;
    }
  }